<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h1>
                <a th:href="@{/products/}">
                    Candy Wrapper
                </a>
            </h1>
        </header>
        <nav>
            <a th:href="@{/accounts/login}">Login</a>
            <a th:href="@{/accounts/signup}">Signup</a>
        </nav>
        <div th:switch="${product}">
            <h2 th:case="null">Product does not exist</h2>
            <div th:case="*">
                <h2 th:text="${product.name}"></h2>
                <p th:text="${product.description}"></p>
                <form th:method="delete" th:action="@{/products/{id}/(id=${product.id})}">
                    <input type="submit" value="Delete" />
                </form>                
            </div>
        </div>
    </body>
</html>